body{
    font-family: 'Rubik', sans-serif;
    margin: auto 0;
}
a{
    text-decoration: none;
}
.button{
    cursor: pointer;
    margin: 0.25rem;
    padding: 0.7em 1em;
    border:1px solid transparent;
    border-radius: 0.25em;
}
.top-button{
    position: fixed;
    right: 12px;
    bottom: 20px;
    background-color: rgb(255, 166, 0);
}
.top-button:hover{
    background-color: rgb(201, 130, 0);
}
/* ---------NAV--------- */
.main-nav{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0 2em;
    align-items: center;
    border-bottom: 2px solid black;
    background-color: #fff;
    z-index: 1;
}
.icon{
    max-height: 30px;
    cursor: pointer;
}
#logo{
    color: #7a7a7a;
    font-size: 1.5em;
    margin: 0.5em;
}

.blue{
    color: #3268bf;
}
.push-right{
    margin-left: auto;
}
@media only screen and (min-width: 600px) {
    #logo{
        font-size: 2em;
    }
    .icon{
        max-height: 50px;
    }
}

/* --------CAROUSEL--------- */
.banner-img{
    width: 100%;
}
/* container */
.carousel-container {
    max-width: 1000px;
    overflow: hidden;
    background-color: black;
    position: relative;
    margin: 3em auto;
    cursor: pointer;
}
/* Hide the images by default */
.slides {
    display: none;
}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}  
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
/* Number text */
.numbertext {
    color: #f2f2f2;
    background-color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    right: 0;
}
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* --------PRODUCT LIST--------- */
#products-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 20px;
    margin-bottom: 3em;
}
.product-box{
    border: 1px solid #999999;
    border-radius: .25em;
    width: 400px;
    display: flex;
    flex-direction: column;
}
.product-img{
    border-top-left-radius: .25em;
    border-top-right-radius: .25em;
    width: 100%;
    min-height: 400px;
}
.product-details{
    padding: 0.5em 1.5em;
    border-top: 1px solid #999999;
}
.product-name{
    color: #4797de;
    margin: 0.5em 0;
}
.product-action{
    display: flex;
    align-items: center;
}
.order-button{
    margin-left: auto;
    color: #fff;
    background-color: #0d6efd;
}
.order-button:hover{
    background-color: #0e58c9;
}
.product-price{
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.5em 0;
}

/* ----------CART---------- */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    background-color: rgba(68, 68, 68, 0.5);
}
.modal-fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.5s;
    animation-name: fade;
    animation-duration: 0.5s;
}
.modal-show{
    display: block;
}
.modal-dialog{
    max-width: 400px;
    margin: 1.75rem auto;
    position: relative;
    pointer-events: none;
}
.modal-body{
    padding: 1rem;
}
.cart-name{
    min-width: 100px;
}
@media only screen and (min-width: 700px) {
    .modal-dialog{
        max-width: 600px;
    }
    .modal-body{
        padding: 1rem 3rem;
    }
    .cart-name{
        min-width: 150px;
    }
}
@media only screen and (min-width: 1100px) {
    .modal-dialog{
        max-width: 800px;
    }
    .modal-body{
        padding: 1rem 5rem;
    }
    .cart-name{
        min-width: 200px;
    }
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
}
#close{
    width: 50px;
    cursor: pointer;
}
.modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem;
    border-top: 1px solid #dee2e6;
}
.close-button:hover{
    background-color: rgb(211, 211, 211);
}
.purchase-button{
    background-color: rgb(255, 166, 0);
}
.purchase-button:hover{
    background-color: rgb(201, 130, 0);
    cursor: not-allowed;
}
#shop{
    text-decoration: underline;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}
.delete-button{
    background-color: rgb(255, 96, 96);
}
.delete-button:hover{
    background-color: rgb(201, 77, 77);
}
.cart-info{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
}